<html>
<link rel="stylesheet" href="/static/css/base.css">
<title>{% block title %} {% endblock title %}</title>

<div class="headerc ">
    <div class="left ">
        ASHABB
    </div>
    <div class="right ">
        <ul class="right-menu ">
            <a class="right-menu-list " href="/home/ ">Home</a>
            <a class="right-menu-list " href="/cart/ ">Cart</a>
            <a class="right-menu-list " href="/profile/ ">Profile</a>
        </ul>
    </div>
</div>

<body>

    {% block body %} {% endblock body %}
</body>

</html>